.custom-button
{
    background-color: black;
    color:white;
    text-transform: uppercase;
    width:45%;
    border:none;
    margin-right:3%;
    height:40px;
}
.secondary
{
    background-color:#1a73e8;
}